* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.startPageBg{
  width:100vw;
  height:100vh;
	background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(80,121,9,1) 28%, rgba(63,140,60,1) 47%, rgba(36,171,144,1) 64%, rgba(0,212,255,1) 83%);
}

.btn {
  font-family: sans-serif;
  padding:1rem;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes btnShake {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

.startPageBtn:hover{
  animation-name: btnShake;
  animation-iteration-count: infinite;
  animation-duration: 0.1ms;
  animation-direction: alternate-reverse;
}

.startPageContainer {
  text-align: center;
  position:absolute;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
}



.startPageBtn{
  background-color: yellowgreen;
  border: 10px solid black;
}

.heroContainer{
  background-image: url('../src/assets/hero-section-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  height:20vh;
}

.nav-tabs {
  display: flex;
  color: #68efe7;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem 0 2rem;
  font-size: 2rem;
}


.nav-links-group{
  display:flex;
  justify-content: center;
  align-items:center;
  gap:4rem;
}

.nav-link:hover{
  border-bottom: solid 5px #68efe7;
  border-radius:0.5rem;
  padding:0 2px 0 2px;
  cursor:pointer;
}

/* utility */
.nav-link-active{
  border-bottom: #68efe7;
}

/* reseting the elements */
a{
  text-decoration: none;
  color:inherit;
}
li {
  list-style-type: none;
  margin:0;
}